.item-container {
    background-color: #fff;
    /*line-height: 15px;*/
}

.image-bot {
    margin-top: 10px;
}

.image-top {
    height: 400px;
}

.image-top img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.image-bot-container:not(:last-child) {
    margin-right: 5px;
}

.image-bot-container {
    width: 25%;
}

.image-bot-container img {
    width: 100%;
}

.name-container h3 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
    color: black;
}

.item-add-love {
    margin: 20px 0px 20px 0px;
}

.lable {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.price-container {
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    color: red;
    font-size: 24px;
    font-weight: 600;
}

.address {
    font-size: 16px;
}

.creator-container a {
    /*   margin-top: 20px;
    padding: 10px;*/
    font-size: 14px;
    text-decoration: none;
    color: #0c3c64;
}

.creator-container img {
    width: 16px;
}

.button-container {
    padding-top: 40%;
}

/* Comment */

.card {
    padding: 10px;
}

input,
textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ced2db;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ced2db;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ced2db;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ced2db;
}

p {
    line-height: 1.3125rem;
}

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-id {
    float: left;
    display: block;
    /* display: inline-block; */
    margin: 0 1rem 0 0;
}

.rating-block i {
    color: #0095ff;
}

.comment-user i {
    color: #0095ff;
}

.user-rating::before {
    content: '--';
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li:not(:last-child) {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li:not(:first-child) {
    padding-left: 0.75rem;
    /* padding-right: 0.125rem; */
}

.comment-actions li:hover {
    color: #0095ff;
}

.comment-reply {
    padding-left: 60px;
}

/* star */

.rating-wrapper {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    display: none;
    /* position: absolute;
    left: 0;
    top: -50px; */
}

.rating-star:hover,
.rating-star:hover~.rating-star {
    background-position: 0 0;
}

.rating-wrapper:hover .rating-star:hover,
.rating-wrapper:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
    background-position: 0 0;
}

.rating-star,
.rating-wrapper:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://css-stars.com/wp-content/uploads/2013/12/stars.png') 0 -16px;
}

.image-bot-container img {
    width: 100%;
    height: 131px;
}